/* font family  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* css shared style */
.display-flex {
  display: flex;
}
.text-primary {
  color: rgb(58, 58, 58);
  font-size: 1.2rem;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-bottom: 100px;
}

/* header navbar  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 1.5rem;
}
.nav-item {
  margin-right: 35px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
/* header banner  */
.banner-content {
  align-items: center;
}
.banner-info {
  max-width: 580px;
  margin: 0 auto;
}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 18px;
}
.btn-primary {
  background-color: #e02c6d;
  color: white;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 30px;
  margin-top: 16px;
}
#btn-arrow {
  margin-left: 2px;
}
.banner-img {
  max-width: 475px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}
.banner-img img {
  width: 100%;
  background-image: url(../images/Circle\ design.svg);
}

/* sponsors company section style  */
.sponsors {
  max-width: 1110px;
  margin: 100px auto;
}
.sponsor-company {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

/* popular collection style  */
.popular-collection {
  max-width: 1050px;
  margin: 0 auto;
}
.product-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.popular-collection-title {
  width: 260px;
  margin: 40px auto;
}
.popular-title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #3a3a3a;
}
.product-box-model {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  max-width: 330px;
}
.product-item {
  padding: 18px 14px 18px 14px;
}
.product-img {
  width: 300px;
}
.product-name {
  font-weight: 500;
  font-size: 1.8rem;
  color: #18191f;
}
.product-price {
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000de;
}
#product-star {
  color: #fb8200;
  margin-right: 10px;
}

/* features production what can we do  */
.features {
  max-width: 1110px;
  margin: 100px auto;
}
.features-product {
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.img-fluid {
  width: 100%;
}
.feature-title {
  color: rgb(10, 8, 38);
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 16px;
}

.btn {
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 1rem;
  border: none;
}

/* footer style */
footer {
  background-color: #18191f;
}
.footer-details {
  margin-top: 35px;
  margin-bottom: 35px;
}
.footer-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 14px;
}
#footer-copy,
#footer-description {
  color: #d9dbe1;
  font-weight: 700;
  font-size: 14px;
}
.footer-social-media span {
  margin-right: 18px;
}
.footer-icon {
  color: #ffffff;
}

/* responsive media query  */
/* //small device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .banner-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .features {
    max-width: 576px;
    margin: 100px auto;
  }

  .features-product {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .sponsors,
  .popular-collection {
    max-width: 576px;
    margin: 100px auto;
  }
  .sponsor-company {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
  }
  .product-area {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
}
/* medium device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .sponsors,
  .popular-collection {
    max-width: 992px;
    margin: 100px auto;
  }
  .sponsor-company {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-items: center;
  }
  .product-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
  .features {
    max-width: 992px;
    margin: 100px auto;
  }
  .features-product {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
